.sketch-button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  border-radius: 11px;
  padding: 12px 10px;
  position: relative;
  line-height: 22px;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0), 0 4px 16px rgba(0, 0, 0),
    0 4px 24px rgba(0, 0, 0);
  background-color: rgba(22, 18, 18, 0.7);
}

.sketch-button:active {
  background-color: rgba(59, 168, 192, 0.775);
  box-shadow: 0 1px 2px rgb(15, 193, 233), 0 4px 16px rgb(15, 193, 233),
    0 4px 24px rgba(0, 0, 0), inset 0 1px 2px rgb(15, 193, 233),
    inset 0 4px 16px rgba(0, 0, 0), inset 0 4px 24px rgb(15, 193, 233);
}

.sketch-button:hover {
  box-shadow: 0 1px 2px rgb(149, 15, 233), 0 4px 16px rgb(139, 15, 233);
}

.sketch-button:not(:last-child) {
  margin-bottom: 15px;
}
